.wl-item
  .inn
    %p
      стр.
      = work.pages_count
    %a{:href => "http://crocoparty.com", :target => "_blank"} Crocoparty.com
  %a{:ref => "works/croco_party/index.html", :target => "_blank", :class => "img-link"}
    %img{:src => work.image_url ? work.image_url : '', :alt => ""}
  html,javascript
  .clearfix.bottom
    - if user_signed_in?
      .fr
        %button.edit Edit
        = link_to('Delete', work_url(work.id), :confirm => "Are you sure?", :method=>:delete)
    .fl.year.mt5 2013г.
