%h1
  Редактирование типа -
  = @work_type.name
.container-2.clearfix
  .grid-1
    = render 'form'
  .grid-2
    = render 'list'
= link_to request.referer, :class => "back-link" do
  %i.fa.fa-hand-o-left
  Назад
