%ul.posts-list.lsn
  - @posts.each do |post|
    %li.pl-item.mb20
      .pli-header= post.post_title

      = link_to 'Посмотреть', blog_post_url(post.id)
      - if user_signed_in?
        = link_to('Edit', edit_post_url(post.id), :class => "button edit")
        = link_to('Delete', post_url(post.id), :confirm => "Вы точно хотите удалить?", :method => :delete, :class => "button delete" )